body {
    
    background-image: url(https://image.tmdb.org/t/p/original/colNDt09PACkwtCgWILJQ8i6vSR.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1 {
    animation: neon 3s alternate infinite ease-in-out;
}

.titulo {
    text-align: center;
    color: rgb(16, 255, 255);
    --cor-neon: #0037ce;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100px;
    padding: 0px;
    margin: 30px;
}

.subtitulo {
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 40px;
    background-color: black;
    opacity: 70%;
    margin: 10px 150px 10px 150px; 
}

.paragrafo {
    text-align: center;
    font-family: monospace;
    color: white;
    font-size: 40px;
    background-color: black;
    opacity: 70%;
    margin: 10px 400px 50px 400px; 
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.btn1 {
    text-decoration: none;
    border: 1px solid rgb(131, 131, 131);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:rgb(16, 255, 255);
    padding: 10px 10px;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    opacity: 75%;
}

.btn1:hover {
    font-size: 25px;
    background-color: rgb(131, 131, 131);

}

.img1 {
    border-radius: 10%;
    border: 3px solid rgb(131, 131, 131);
}

.btn2 {
    text-decoration: none;
    border: 1px solid rgb(131, 131, 131);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:rgb(16, 255, 255);
    padding: 10px 10px;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    opacity: 75%;
}
.btn2:hover {
    font-size: 25px;
    background-color: rgb(131, 131, 131);
}

.img2 {
    border-radius: 10%;
    border: 3px solid rgb(131, 131, 131);
}

.btn3 {
    text-decoration: none;
    border: 1px solid rgb(131, 131, 131);
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:rgb(16, 255, 255);
    padding: 10px 10px;
    font-size: 20px;
    font-family: monospace;
    border-radius: 10px;
    opacity: 75%;
}

.btn3:hover {
    font-size: 25px;
    background-color: rgb(131, 131, 131);
}

.img3 {
    border-radius: 10%;
    border: 3px solid rgb(131, 131, 131);
}






@keyframes neon {
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
}